weelBlack = rgb(11,15,19)
weelLightBlue = rgb(23,42,66)
weelDarkBlue = rgb(21,31,46)
weelGray = rgb(97,125,137)
weelOffWhite = rgb(214,222,204)

.black 
  background-color weelBlack

.light-blue
  background-color weelLightBlue

.dark-blue
  background-color weelDarkBlue

.gray
  background-color weelGray

.off-white
  background-color weelOffWhite


