weelBlack = rgb(11,15,19)
weelLightBlue = rgb(23,42,66)
weelDarkBlue = rgb(21,31,46)
weelGray = rgb(97,125,137)
weelOffWhite = rgb(214,222,204)
weelWhite = rgb(255,255,255)

.black-bg
  background-color weelBlack

.light-blue-bg
  background-color weelLightBlue

.dark-blue-bg
  background-color weelDarkBlue

.gray-bg
  background-color weelGray

.off-white-bg
  background-color weelOffWhite

.white-bg
  background-color weelWhite
  
.black
  color weelBlack

.light-blue
  color weelLightBlue

.dark-blue
  color weelDarkBlue

.gray
  color weelGray

.off-white
  color weelOffWhite


