html
  height 100


body 
  background rgba(23,42,66,1)
  background -moz-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,42,66,1)), color-stop(100%, rgba(21,31,46,1)))
  background -webkit-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -o-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -ms-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background linear-gradient(to bottom, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a42', endColorstr='#151f2e', GradientType=0 )")
  height 100
  background-repeat no-repeat
  background-attachment fixed
