@require('./colors.styl')

html
  height 100%

body 
  font-family "Lato"
  color white
  letter-spacing 1px
  text-align center
  background rgba(23,42,66,1)
  background -moz-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -webkit-gradient(left top, left bottom, color-stop(0%, rgba(23,42,66,1)), color-stop(100%, rgba(21,31,46,1)))
  background -webkit-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -o-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background -ms-linear-gradient(top, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  background linear-gradient(to bottom, rgba(23,42,66,1) 0%, rgba(21,31,46,1) 100%)
  filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a42', endColorstr='#151f2e', GradientType=0 )")
  height 100%
  background-repeat no-repeat
  background-attachment fixed
  overflow-x hidden
  overflow-y auto !important

a 
  text-decoration none
  transition all .5s ease
  &:visited, &:link, &:active
    color weelOffWhite
    font-weight bold
  &:hover
    color white

.header
  height 250px
  background url('./images/seal-transparent.svg')
  background-size 250px 250px
  background-repeat no-repeat
  background-position center

.title
  font-size 36px
  font-family "Oswald"
  font-weight bold
  color white
  text-transform uppercase

.subtitle
  font-size 24px
  font-family "Oswald"
  font-weight 400
  color white
  text-transform lowercase

.details
  font-size 14px
  font-weight normal
  font-family "Lato"
  text-transform none
  & a:link, a:visited, a:active
    color black
  & a:hover
    color weelLighterBlue
  & .detail-header
    font-weight normal
    font-family "Oswald"
    letter-spacing .5px
    font-size 16px
    text-transformation lowercase
    & i
      color black
      font-size 5px

small
  text-transform lowercase

.subsection
  color black
  &.contact
    height 300px
  & .fa
    color weelLighterBlue

.contact-button
  transition all 1s ease
  border 0
  background weelDarkBlue
  font-family "Oswald"
  font-size 20px
  font-weight bold
  color white
  padding 10px
  min-width 100px
  &:hover
    background weelLighterBlue
